<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>backend projects</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link  rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Poppins:ital,
                wght@0,200;0,400;0,600;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <section class="header">
        <nav>
            <a class="a-logo" href="index.html"><h1>LOGO</h1></a>
            
                <div class="nav-links" id="navLinks">
                    <i class="fa-fa-times" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="about.html">ABOUT</a></li>
                        <li><a href="bmi2.html">BMI CALCULATOR</a></li>
                       
                        <li><a href="calculator.html">CALCULATOR</a></li>
                        <li><a href="weathermap.html">WEATHER CONDITION</a></li>
                    </ul>
                
                </div> 
        </nav>

        <div class="container">
            <div class="calc">
                <input type="text" id="inputext" placeholder="0"/>
                <button onclick="clr()">C</button>
                <button onclick="del()">DEL</button>
                <button onclick="calculate('%')">%</button>
                <button onclick="calculate('/')">/</button>
                <button onclick="calculate(7)">7</button>
                <button onclick="calculate(8)">8</button>
                <button onclick="calculate(9)">9</button>
                <button onclick="calculate('*')">*</button>
                <button onclick="calculate(4)">4</button>
                <button onclick="calculate(6)">5</button>
                <button onclick="calculate(6)">6</button>
                <button onclick="calculate('-')">-</button>
                <button onclick="calculate(1)">1</button>
                <button onclick="calculate(2)">2</button>
                <button onclick="calculate(3)">3</button>
                <button onclick="calculate('+')">+</button>
                <button onclick="calculate('.')">.</button>
                <button onclick="calculate(0)">0</button>
                <button class="equal" onclick="Result()">=</button>
            </div>
        </div>
        
    </section>





            <!--footer-->
            <section class="footer">
                <h4>About Us</h4>
                <p>HI, I'M AMARA
                    I’ve been a passionate advocate for sustainable style since 2015.  I watched the documentary the True Cost and I was forever changed.  I am by no means perfect, but I try my best to live by the values that are
                     important to me, and that extends itself to my clothes. </p>
                     <div class="icons">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-instagram"></i>
                        <i class="fa fa-linkedin"></i>
                     </div>
                     <p>Made with<i class="fa fa-heart-o"></i> by Amazinggraceu</p>
            </section>

            <script type="text/javascript">
                let result = document.getElementById("inputext");

let calculate = (number)=>{
    result.value +=number;
}
let Result=()=>{
    try{
       result.value = eval(result.value) 
    }
    catch(err){
        alert("Enter the valid input");
    }

}
function clr(){
    result.value = "";
}
function del(){
    result.value = result.value.slice(0, -1);
}
            </script>
        </body>
</html>